@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap');

$padding: 15px;
$border-radius: 8px;

.azics-file-uploader {
  font-family: 'Roboto', sans-serif;
  .afu__wrap {
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    // width: 300px;
    width: fit-content;
    padding: $padding;
    border-radius: $border-radius;
  }

  .afu__work-area {
    border-width: 2px;
    border-style: dashed;
    border-color: rgba(0, 0, 0, 0.2);
    padding: $padding 100px;
    border-radius: $border-radius;
    text-align: center;
  }

  .afu__icon {
    background: url('../images/upload.svg') no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
  }

  .afu__text {
    font-size: 20px;
    font-weight: bold;
  }

  .afu__button {
    background: #5a99e6;
    border: none;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }

  .afu__button:hover {
    opacity: 0.8;
  }

  > input[type='file'] {
    display: none;
  }
}
